language: python
env:
  - TOXENV=py27
  - TOXENV=py33
  - TOXENV=docs
  - TOXENV=pep8

install:
  "pip install -r requirements.txt -r test-requirements.txt"

script:
  - tox

after_success:
  - coveralls
